<header>
	<h1><a href="/"><span>Lobby</span><strong>Plag</strong></a></h1>
	<nav id="header-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li{{#active_main}} class="active"{{/active_main}}><a href="/">LobbyPlag</a></li>
			<li{{#active_blog}} class="active"{{/active_blog}}><a href="/blog">Blog</a></li>
			<li{{#active_browse}} class="active"{{/active_browse}}><a href="/browse">Browse</a></li>
			<li{{#active_research}} class="active"{{/active_research}}><a href="/research">Research</a></li>
			<li{{#active_influence}} class="active"{{/active_influence}}><a href="/influence">Influence</a></li>
			<li{{#active_docs}} class="active"{{/active_docs}}><a href="/docs">Documents</a></li>
		</ul>
	</nav>
</header>
