<div class="display-person">{{name}} <span class="label label-info label-country" title="{{country_long}}">{{country}}</span> <span class="label label-info label-group" title="{{group_long}}">{{group}}</span></div>
