html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
	overflow: hidden;
}

.group {
	padding-top: 12px;
	padding-right: 4px;
	padding-left: 4px;
}

.logo {
	display: inline-block;
	height: 50px;
	width: 50px;
}

.combobox {
	width: 100%;
}

#saveindicator {
	margin-top: 4px;
	font-size: 10px;
	background-color: #E9DC51;
	border-color: #BCE8F1;
	border-radius: 4px 4px 4px 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#category {
	width: 95%;
}

#footrow label {
	margin-top: 4px;
}

.nav-top {
	margin-left: 20px !important;
}

.head, #foot, #bottom, #middlehead {
	position: absolute;
	width: 98%;
	left: 10px;
}

.btn-navig {
	margin-top: 8px;
	margin-left: 8px !important;
}

#bottom {
	position: absolute;
	left: 20px;
	width: 97%;
	top: 130px;
	bottom: 128px;
}

#foot {
	height: 128px;
	bottom: 0;
	text-align: center;
}

#middlehead {
	top: 160px;
	height: 34px;
	margin-left: 8px;
	vertical-align: top;
}

#footrow {
	margin-left: 0px !important;
}

.foottools {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin-top: 6px;
}

.popover {
	border: 0 !important;
}

.popover-title {
	border: 1px solid #C3D3DA;
}

.popover-content {
	border: 1px solid #C3D3DA;
	background-color: white;
}

.head {
	height: 70px;
	padding: 8px;
	top: 0;
}

.border {
	border: 1px solid #C3D3DA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.fmttext {
	padding: 8px;
}

.left {
	width: 49%;
	height: 100%;
	display: inline-block;
	border: 1px solid #C3D3DA;
	vertical-align: top;
	overflow-y: auto;
}

.right {
	width: 49%;
	height: 100%;
	vertical-align: top;
	border: 1px solid #C3D3DA;
	display: inline-block;
	overflow-y: auto;
}

.typeahead {
	text-align: left;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
}

textarea {
	padding: 8px 8px 8px 8px;
	resize: none;
	width: 100%;
	min-width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.foot button {
	margin: 8px;
	float: left;
}

#hidden {
	padding-right: 16px;
	display: none;
	font-size: 12px;
}

.btn-green {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #004500;
	*background-color: #004500;
	background-image: -moz-linear-gradient(top, #00FF00, #004500);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00FF00), to(#004500));
	background-image: -webkit-linear-gradient(top, #00FF00, #004500);
	background-image: -o-linear-gradient(top, #00FF00, #004500);
	background-image: linear-gradient(to bottom, #00FF00, #004500);
	background-repeat: repeat-x;
	border-color: #004500;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#004500', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
	color: #FFFFFF;
	background-color: #004500;
	*background-color: #003bb3;
}

.btn-red {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #572424;
	*background-color: #572424;
	background-image: -moz-linear-gradient(top, #FF0000, #572424);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#572424));
	background-image: -webkit-linear-gradient(top, #FF0000, #572424);
	background-image: -o-linear-gradient(top, #FF0000, #572424);
	background-image: linear-gradient(to bottom, #FF0000, #572424);
	background-repeat: repeat-x;
	border-color: #572424;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#572424', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-red:hover,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
	color: #FFFFFF;
	background-color: #572424;
	*background-color: #003bb3;
}

.btn-gray {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #474747;
	*background-color: #474747;
	background-image: -moz-linear-gradient(top, #808080, #474747);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#474747));
	background-image: -webkit-linear-gradient(top, #808080, #474747);
	background-image: -o-linear-gradient(top, #808080, #474747);
	background-image: linear-gradient(to bottom, #808080, #474747);
	background-repeat: repeat-x;
	border-color: #474747;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#474747', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-gray:hover,
.btn-gray:active,
.btn-gray.active,
.btn-gray.disabled,
.btn-gray[disabled] {
	color: #FFFFFF;
	background-color: #474747;
	*background-color: #003bb3;
}