html, body {
	
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: "Gentium Book Basic", "Georgia", serif;
	font-size: 18px;
	
}
	
	header {
		
		display: block;
		position: relative;
		height: 60px;
		background-color: #333;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
		background-image: linear-gradient(to bottom, #444444, #222222);
		
	}
	
		header h1 {
			
			display: block;
			position: absolute;
			left: 50px;
			top: 0px;
			height: 60px;
			font-weight: normal;
			margin: 0px;
			line-height: 65px;
			
		}
		
			header h1 a,
			header h1 a:hover,
			header h1 a:focus,
			header h1 a:active {
				
				color: #eee;
				text-decoration: none;
				
			}

				header h1 a strong {
				
					color: #d20;
				
				}
				
				header h1 small {
					
					position: relative;
					font-style: italic;
					top: -10px;
					left: 3px;
					color: #eee;
					opacity: 0.5;
					
				}
		
		header nav {
			
			display: block;
			position: absolute;
			right: 50px;
			top: 0px;
			height: 60px;
			font-weight: normal;
			margin: 0px;
			line-height: 65px;
			
		}
		
			header nav li a {
				
				height: 40px;
				line-height: 45px;
				font-size: 20px;
				color: #fff !important;
				
			}
			
				header nav li a:hover {
				
					color: #d20 !important;
				
				}

				header nav li.active a {
			
					color: #d20 !important;
			
				}

	#subnav {
		
		display: block;
		position: relative;
		height: 40px;
		margin-bottom: 0px;
		background-color: #555;
		border-bottom: 2px solid #d20;
		padding-right: 60px;
		
	}
	
		#subnav a {
			
			padding-top: 5px;
			padding-bottom: 5px;
			height: 30px;
			line-height: 35px;
			font-size: 20px;
			
		}
		
			
	
	#main-container {
		
		display: block;
		position: relative;
		left: 0px;
		right: 0px;
		margin: 0px;
		padding: 50px 0px;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		min-height: 400px;
		box-shadow: 0px 0px 200px -100px rgba(0,0,0,1) inset;
		-webkit-box-shadow: inset 0px 0px 200px -60px rgba(0,0,0,1);

	}
	
		#main {
			
			display: block;
			position: relative;
			margin: 50px auto;
			width: 980px;
			
		}

			#main section {}

				#main section article {
					
					display: block;
					position: relative;
					background-color: #fff;
					border-radius: 4px;
					box-shadow: 0 3px 20px -10px rgba(0, 0, 0, 0.3);
					margin: 0 0 30px;
					padding: 20px;
					
				}
				
				#main section article h2 {
					
					padding: 0px;
					margin-bottom: 20px;
					color: #b20;
					border-bottom: 1px solid #ddd;
					line-height: 1em;
				
				}
				
				.donation-box {
					
					width: 278px;
					background-color: #fafafa;
					border: 1px solid #E3E3E3;
					border-radius: 4px 4px 4px 4px;
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
					margin-bottom: 20px;
					min-height: 20px;
					padding: 10px;
					
				}
				
					.donation-box h3 {
						
						margin: 0px 0px 10px;
						padding: 0px;
						color: #b20;
						border-bottom: 1px solid #ddd;
						line-height: 1em;
						
					}
					
					.donation-box p {
					
						margin: 0px;
					
					}
					
				.hall-of-fame {}

					.hall-of-fame ul {
					
						list-style: none;
						margin: 0px 0px 20px;
						padding: 0px;
						
					}

					.hall-of-fame li {
						
						font-size: 1.1em;
						line-height: 1.2em;
						white-space: nowrap;
						float: left;
						background-color: #f9f9f9;
						margin: 5px 10px 5px 0px;
						padding: 2px 5px 0px;
						border-radius: 5px;
						border: 1px solid #E3E3E3;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
						
					}

	footer {
		
		display: block;
		position: relative;
		height: 60px;
		background-color: #333;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
		background-image: linear-gradient(to bottom, #444444, #222222);
		
	}
	
		footer #creator {
			
			display: block;
			position: absolute;
			left: 50px;
			top: 0px;
			height: 60px;
			line-height: 60px;
			
		}
		
			footer #creator a.odc {
				
				display: block;
				position: relative;
				float: left;
				height: 60px;
				width: 173px;
				background: url(../img/opendatacity.png) left center no-repeat;
				text-indent: -100000px;
				
			}
		
		footer #social {
			
			display: block;
			position: absolute;
			right: 50px;
			top: 0px;
			height: 60px;
			line-height: 60px;
			
		}
		
			footer #social .social {
				
				display: block;
				position: relative;
				float: left;
				height: 60px;
				line-height: 60px;
				overflow: hidden;
				color: #fff;
				
			}
			
				footer #social .social+.social {

					margin-left: 20px;

				}
				
				footer #social .social a {
					
					margin-left: 1em;
					
				}
			
				footer #social #social-google {
					
					height: 24px;
					line-height: 24px;
					padding: 18px 0px;

				}
				
				footer #social #social-facebook,
				footer #social #social-twitter {
					
					height: 20px;
					line-height: 20px;
					padding: 20px 0px;
				}
				
	/* display source */
	
	.display-source {	

		display: block;
		position: relative;
		float: left;
		background-color: #fff;
		border: 0.1em solid #eee;
		border-radius: 4px;
		padding: 0.3em 0.3em 0;
		margin: 0 0.1em 0.2em;
		text-decoration: none;
		box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.2);
		line-height: 1em;

	}

		.display-source .badge {

			position: relative;
			left: 2px;
			bottom: 2px;
			margin-left: 0.2em;
			padding: 3px 5px 1px;

		}
		
	/* diffs */
	
	.diff-container {
		
		display: block;
		position: relative;
		margin: 10px 0px;
		padding: 40px 10px 10px;
		width: 580px;
		background-color: #F5F5F5;
		border: 1px solid #E3E3E3;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		
		
	}
	
		.span6 .diff-container {
			
			width: 400px;
			
		}
	
		.diff-buttons {
			
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			
		}
		
		.diff {
		
			display: block;
			position: relative;
			color: #333;
			font-family: "Menlo", "Source Code Pro", "Monaco", fixed;
			font-size: 10px;
			line-height: 1.6em;
		
		}
	
			.diff del {
			
				background-color: #faa;
				border: 0.1em solid #e99;
				border-radius: 4px;
				padding: 0 0.3em;
				margin: 0 0.1em;
				text-decoration: none;
			
			}

			.diff ins {
			
				background-color: #afa;
				border: 0.1em solid #9e9;
				border-radius: 4px;
				padding: 0 0.3em;
				margin: 0 0.1em;
				text-decoration: none;
			
			}

			.diff.new del {
			
				display: none;
			
			}
		
			.diff.new ins {
			
				background-color: #efe;
				border: 1px solid #cfc;
			
			}

			.diff.old del {
			
				background-color: #fee;
				border: 1px solid #fcc;
			
			}

			.diff.old ins {
			
				display: none;
			
			}

/* override font */

.btn {
	font-family: sans-serif;
}

.badge,
.label {

	font-family: sans-serif;
	padding: 3px 5px 1px !important;
	
}

/* clear */

.clear {

	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

}