html, body {

	display: block;
	margin: 0px;
	padding: 0px;
	font-family: "Gentium Book Basic", "Georgia", serif;
	font-size: 18px;

}

header {

	display: block;
	position: relative;
	height: 60px;
	background-color: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
	background-image: linear-gradient(to bottom, #444444, #222222);

}

header h1 {

	display: block;
	position: absolute;
	left: 50px;
	top: 0px;
	height: 60px;
	font-weight: normal;
	margin: 0px;
	line-height: 65px;

}

header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:active {

	color: #eee;
	text-decoration: none;

}

header h1 a strong {

	color: #d20;

}

header h1 small {

	position: relative;
	font-style: italic;
	top: -10px;
	left: 3px;
	color: #eee;
	opacity: 0.5;

}

header nav {

	display: block;
	position: absolute;
	right: 50px;
	top: 0px;
	height: 60px;
	font-weight: normal;
	margin: 0px;
	line-height: 65px;

}

header nav li a {

	height: 40px;
	line-height: 45px;
	font-size: 20px;
	color: #fff !important;

}

header nav li a:hover {

	color: #d20 !important;

}

header nav li.active a {

	color: #d20 !important;

}

#main-container {

	display: block;
	position: relative;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 400px;
	box-shadow: 0px 0px 200px -100px rgba(0, 0, 0, 1) inset;
	-webkit-box-shadow: inset 0px 0px 200px -60px rgba(0, 0, 0, 1);

}

#main {

	display: block;
	position: relative;
	margin: 50px auto;
	width: 980px;

}

#main section {
}

#main section article {

	display: block;
	position: relative;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 20px -10px rgba(0, 0, 0, 0.3);
	margin: 0 0 30px;
	padding: 20px;

}

#main section article h2 {

	padding: 0px;
	margin-bottom: 20px;
	color: #b20;
	border-bottom: 1px solid #ddd;
	line-height: 1em;

}

.donation-box {

	width: 278px;
	background-color: #fafafa;
	border: 1px solid #E3E3E3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 10px;

}

.donation-box h3 {

	margin: 0px 0px 10px;
	padding: 0px;
	color: #b20;
	border-bottom: 1px solid #ddd;
	line-height: 1em;

}

.donation-box p {

	margin: 0px;

}

.hall-of-fame {
}

.hall-of-fame ul {

	list-style: none;
	margin: 0px 0px 20px;
	padding: 0px;

}

.hall-of-fame li {

	font-size: 1.1em;
	line-height: 1.2em;
	white-space: nowrap;
	float: left;
	background-color: #f9f9f9;
	margin: 5px 10px 5px 0px;
	padding: 2px 5px 0px;
	border-radius: 5px;
	border: 1px solid #E3E3E3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

}

footer {

	display: block;
	position: relative;
	height: 60px;
	background-color: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
	background-image: linear-gradient(to bottom, #444444, #222222);

}

footer #creator {

	display: block;
	position: absolute;
	left: 50px;
	top: 0px;
	height: 60px;
	line-height: 60px;

}

footer #creator a.odc {

	display: block;
	position: relative;
	float: left;
	height: 60px;
	width: 173px;
	background: url(../img/opendatacity.png) left center no-repeat;
	text-indent: -100000px;

}

footer #social {

	display: block;
	position: absolute;
	right: 50px;
	top: 0px;
	height: 60px;
	line-height: 60px;

}

footer #social .social {

	display: block;
	position: relative;
	float: left;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	color: #fff;

}

footer #social .social+.social {

	margin-left: 20px;

}

footer #social .social a {

	margin-left: 1em;

}

footer #social #social-google {

	height: 24px;
	line-height: 24px;
	padding: 18px 0px;

}

footer #social #social-facebook,
footer #social #social-twitter {

	height: 20px;
	line-height: 20px;
	padding: 20px 0px;
}

/* display source */

.display-source {

	display: block;
	position: relative;
	float: left;
	background-color: #fff;
	border: 0.1em solid #eee;
	border-radius: 4px;
	padding: 0.3em 0.3em 0;
	margin: 0 0.1em 0.2em;
	text-decoration: none;
	box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.2);
	line-height: 1em;

}

.display-source .badge {

	position: relative;
	left: 2px;
	bottom: 2px;
	margin-left: 0.2em;
	padding: 3px 5px 1px;

}

/* diffs */

.diff-container {

	display: block;
	position: relative;
	margin: 10px 0px;
	padding: 40px 10px 10px;
	width: 580px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

}

.span6 .diff-container {

	width: 400px;

}

.diff-buttons {

	display: block;
	position: absolute;
	right: 10px;
	top: 10px;

}

.diff {

	display: block;
	position: relative;
	color: #333;
	font-family: "Menlo", "Source Code Pro", "Monaco", fixed;
	font-size: 10px;
	line-height: 1.6em;

}

.diff del {

	background-color: #faa;
	border: 0.1em solid #e99;
	border-radius: 4px;
	padding: 0 0.3em;
	margin: 0 0.1em;
	text-decoration: none;

}

.diff ins {

	background-color: #afa;
	border: 0.1em solid #9e9;
	border-radius: 4px;
	padding: 0 0.3em;
	margin: 0 0.1em;
	text-decoration: none;

}

.diff.new del {

	display: none;

}

.diff.new ins {

	background-color: #efe;
	border: 1px solid #cfc;

}

.diff.old del {

	background-color: #fee;
	border: 1px solid #fcc;

}

.diff.old ins {

	display: none;

}

/* override font */

.btn {
	font-family: sans-serif;
}

.badge,
.label {

	font-family: sans-serif;
	padding: 3px 5px 1px !important;

}

/* clear */

.clear {

	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

}

/* map - custom */

.info_box {
	border: 1px solid #fcc;
	text-align: center;
}

.graphic_box {
	height: 160px;
}

.info {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: justify;
}

#subnav_placeholder {
	height: 40px;
}

#header-nav {
	min-width: 640px !important;
}

#subnav, #subnav_map, #subnav_map_small, #subnav_map_search {
	position: relative;
	display: block;
	height: 35px;
	min-width: 640px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

#subnav li:hover, #subnav_map li:hover, #subnav_map_small li:hover, #subnav_map_search li:hover {
	background-color: #f68d28;
}

#subnav {
	background-color: #BB6622;
}

#subnav_map {
	background-color: #bf6824;
	border-top: 1px solid #a47e3c;
}

#subnav_map_small {
	background-color: #c56d24;
	border-top: 1px solid #a47e3c;
}

#subnav_map_search {
	background-color: #c56d24;
	border-top: 1px solid #a47e3c;
}

#subnav a, #subnav_map a, #subnav_map_small a {
	padding-bottom: 5px;
	font-size: 20px;
	color: #fff;
}

#subnav_map a {
	padding-left: 6px !important;
	padding-right: 6px !important;
	text-transform: uppercase;
}

#subnav_map_small a {
	padding-left: 8px !important;
	padding-right: 8px !important;
	text-transform: uppercase;
	font-size: 16px;
}

.label-country, .label-group {
	text-transform: uppercase;
}

.mep_line {
	border-top: 1px solid #d6ccc5;
	height: 80px;
	text-align: left;
}

.mep_info {
	float: left;
	max-width: 200px;
	margin-top: 12px;
}

.spanmep_name {
	font-size: 16px;
}

.mep_line div {
	display: inline;
}

.mep_image {
	float: left;
	height: 60px;
	width: 50px;
	margin-left: 20px;
	margin-top: 9px;
	overflow: hidden;
}

.mep_image image {
	width: 50px;
}

.mep_more {
	float: right;
	margin-right: 20px;
	margin-top: 28px;
}

.mep_chart {
	margin-top: 4px;
	float: right;
	height: 70px;
	width: 70px;
	margin-right: 20px;
}

.legend_strong, .legend_weak, .legend_neutral {
	font-size: 14px;
}

.legend_strong {
	color: #007402;
}

.legend_weak {
	color: #740f16;
}

.legend_neutral {
	color: #746f71;
}

.btn_email {
	position: absolute;
	bottom: 0;
	display: block;
}

/*.overview_bar_box, .overview_text_box {*/
/*position: relative;*/
/*display: inline-table;*/
/*text-align: left;*/
/*height: 220px;*/
/*top: 0;*/
/*}*/

div.overview_height_large {
	height: 240px;
}

div.overview_height_large > div {
	margin-top: 10px;
}

div.overview_height_small {
	height: 180px;
}

div.overview {
	width: 460px;
	display: block;
	margin: 0 auto;
}

div.overview_text_box {
	margin-left: 4px;
	width: 240px;
	text-align: left;
}

div.overview_text {
	float: left;
	padding-left: 80px;
	padding-top: 40px;
}

div.overview_chart {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	width: 140px;
}

.search_result_header {
	margin-bottom: 8px;
	border-bottom: 1px solid #d6ccc5;
}

.form-search input {
	margin-left: 10px;
	margin-top: 5px;
}

.nav-search {
	height: 40px;
}

.mep_info_box {
	min-height: 192px;
	text-align: left;
	font-size: 14px;
}

.mep_info_box_links {
	font-size: 14px;
}

.mep_info_image_box {
	margin-left: 20px;
	margin-top: 9px;
	float: left;
}

.mep_info_box_image {
	height: 140px;
	width: 120px;
	overflow: hidden;
	margin-bottom: 8px;
}

.mep_info_box_data {
	margin-left: 160px;
}

.mep_info_box_image image {
	width: 120px;
}

.background_stronger {
	background-color: #9ab958;
}

.background_weaker {
	background-color: #be4f4d;
}

.background_neutral {
	background-color: #d7d7d8;
}

.background_stronger a {
	color: #fff;
}

.background_weaker a {
	color: #fff;
}

.border_stronger {
	border-color: #9ab958;
}

.border_weaker {
	border-color: #be4f4d;
}

.border_neutral {
	border-color: #d7d7d8;
}

.amend .tag {
	margin-top: 6px;
	font-size: 14px;
}

.amend .tag span {
	line-height: 26px;
	margin-left: 0px;
	display: inline;
}

.amend .tag span .btn {
	margin-top: -2px;
	margin-right: 10px;
}

.info_box_head {
	line-height: 36px;
	margin-top: 0px;
	margin-bottom: 4px;
}

.label-info {
	font-size: 10px;
	border: #595959 solid 1px;
	height: 12px;
	line-height: 10px;
	cursor: default;
}

.label-group-epp {
	background-color: #3399FF;
	color: #ebebeb;
}

.label-group-sd {
	background-color: #FF0000;
	color: #ebebeb;
}

.label-group-alde {
	background-color: #FFFF00;
	color: #000;
}

.label-group-greens-efa {
	background-color: #009900;
	color: #ebebeb;
}

.label-group-ecr {
	background-color: #0000FF;
	color: #ebebeb;
}

.label-group-efd {
	background-color: #FF9900;
	color: #000;
}

.label-group-gue-ngl {
	background-color: #990000;
	color: #ebebeb;
}

.label-group-ni {
	background-color: #999999;
	color: #ebebeb;
}

.mep_bars {
	text-align: left;
	padding-top: 10px;
	height: 230px;
	width: 460px;
}

.mep_bar div {
	float: left;
}

div.mep_bar_name {
	text-align: right;
	width: 120px;
	padding-top: 4px;
	padding-right: 6px;
}

div.mep_bar_btn {
	padding-left: 6px;
}

.mep_info_text td {
	vertical-align: top;
}

.committee_name {
	font-style: italic;
}

.spanpadding3 {
	margin-left: 270px;
}

#report_comment {
	width: 96%;
}

#reportErrorModal .radio {
	margin-top: 4px;
	margin-right: 8px;
	font-size: 16px;
}

div.lobbyplay {
	margin: 0 !important;
	padding: 0 !important;
	display: inline !important;
	position: relative;
}

div.lobbyplay svg {
	margin: 0 !important;
	padding: 0 !important;
	display: inline !important;
	position: relative;
}

.mep_bar_bar, div.bar, div.bar svg {
	width: 220px;
	height: 24px;
	min-width: 220px;
	min-height: 24px;
	max-width: 220px;
	max-height: 24px;
	margin: 0 !important;
	padding: 0 !important;
}

div.smallpie .pie, div.smallpie .pie svg {
	min-width: 70px;
	min-height: 70px;
	max-width: 70px;
	max-height: 70px;
	width: 70px;
	height: 70px;
}

div.bigpie, div.bigpie div.pie, div.bigpie div.pie svg {
	min-width: 140px;
	min-height: 140px;
	max-width: 140px;
	max-height: 140px;
	width: 140px;
	height: 140px;
}

div.graphwrapper {
	position: relative;
	width: 120px;
	text-align: center;
	float: left;
	height: 120px;
}

div.vectormap {
	width: 458px;
	height: 240px;
}

.mep_map {
	height: 240px;
	overflow: hidden;
	border: 1px solid #000000;
}

.jvectormap-label {
	position: absolute;
	display: none;
	border: solid 1px #CDCDCD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	background: #FFFFFF;
	color: #000000;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}

.jvectormap-zoomin {
	top: 10px;
}

.topic {
	text-align: center;
}

.accordion-group {
	margin-top: 10px;
}


/*.topic > div {*/
	/*float: left;*/
	/*padding-right: 60px;*/
/*}*/

