<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LobbyPlag ➔ Classify</title>
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
	<meta property="og:title" content="LobbyPlag: Classify">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://classify.lobbyplag.eu">
	<meta property="og:image" content="http://www.lobbyplag.eu/assets/img/lobbyplag-comparison.jpg">
	<link rel="shortcut icon" href="/assets/img/favicon.ico?v=1"/>
	<link href="/assets/fonts/gentium-basic/gentium-book-basic.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-code-pro/source-code-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-sans-pro/source-sans-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/common.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/classify.css" rel="stylesheet" type="text/css">
	<link href="/assets/js/chosen/chosen-up.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalLabel">Bitte Kürzel eingeben</h3>
	</div>
	<div class="modal-body">
		<input id="username"/>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn btn-primary">Kürzel verwenden</button>
	</div>
</div>

<div class="container">
	<div id="header" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="nav-collapse collapse">
				<ul class="nav nav-top">
					<li class="group">
						<img src="/assets/img/logo.png" class="logo"/>
					</li>
					<li class="group span2">
						<label for="change">Änderung</label>
						<h4><strong class="upper" id="committee"></strong> #<span id="number"></span></h4>
					</li>
					<li class="group span2">
						<label for="classified">Bewertung</label>
						<h4 id="classified"></h4>
					</li>
					<li class="group span2">
						<label for="user">Bearbeiter</label>
						<h4 id="user"></h4>
					</li>
				</ul>
			</div>
			<div id="saveindicator" class="pull-right">Ungespeicherte Änderungen</div>
		</div>
	</div>
	<div id="middlehead">
		<h4 id="directive"></h4>
	</div>
	<div id="bottom">
		<div class="left">
			<span class="fmttext diff" id="oldtext"></span>
		</div>
		<div class="right">
			<span class="fmttext diff" id="newtext"></span>
		</div>
	</div>
	<div id="foot">
		<div id="footrow" class="row">
			<div class="pull-left">
				<a href="#" id="btn_prev" class="btn btn-navig">&lt; Zurück</a><br />
				<a href="#" id="btn_prev_unchecked" class="btn btn-navig">&lt; Zurück <br><small>(unbewertet)</small></a>
			</div>
			<div class="span3">
				<label for="comment">Kommentar</label>
				<textarea id="comment" cols="40" rows="3"></textarea>
			</div>
			<div class="span5">
				<div>
					<label for="topic">Thema</label>
					<select data-placeholder="Thema" id="topic" name="topic"
							class="combobox chzn-drop-up">
						<option></option>
						{{#tagcats}}{{>tgc}}{{/tagcats}}
					</select>
				</div>
				<div>
					<label for="category">Kategorie</label>
					<input type="text" id="category"/>
				</div>
			</div>
			<div class="foottools">
				<div>
					<label>Änderung macht den Datenschutz</label>
					<a href="#" id="btn_stronger" class="btn btn-primary">Stärker</a>
					<a href="#" id="btn_weaker" class="btn btn-primary">Schwächer</a>
					<a href="#" id="btn_neutral" class="btn btn-primary">Neutral</a>
				</div>
				<br/>

				<div>
					<label class="checkbox">
						<input type="checkbox" id="conflict"> potentieller Konflikt mit der Grundrechtecharta
					</label>
				</div>
			</div>
			<div class="pull-right">
				<a href="#" id="btn_next" class="btn btn-navig">Weiter &gt;</a><br />
				<a href="#" id="btn_next_unchecked" class="btn btn-navig">Weiter &gt;<br><small>(unbewertet)</small></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/js/chosen/chosen-up.jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/shortcut.js"></script>
<script type="text/javascript" src="/assets/js/classify.js"></script>

</body>
</html>
