<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LobbyPlag ➔ Research</title>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
		<meta property="og:title" content="LobbyPlag ➔ Research">
		<meta property="og:type" content="article">
		<meta property="og:url" content="http://research.lobbyplag.eu/">
		<meta property="og:image" content="http://www.lobbyplag.eu/assets/img/lobbyplag-comparison.jpg">
		<link href="/assets/fonts/gentium-basic/gentium-book-basic.css" rel="stylesheet" type="text/css">
		<link href="/assets/fonts/source-code-pro/source-code-pro.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/research.css" rel="stylesheet" type="text/css">
		<script src="/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/assets/js/jquery.mustache.min.js" type="text/javascript"></script>
		<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/assets/js/research.js" type="text/javascript"></script>
	</head>
	<body>
		{{> header}}
		<form id="research-form" class="form-search" action="search" method="get">
			<div class="research-controls">
				<div class="input-append">
					<input type="text" class="input-xxlarge search-query" name="q" id="q" value="{{q}}" placeholder="+lobby -privacy">
					<button type="submit" class="btn btn-inverse btn-large">Search</button>
				</div>
				<p class="help">
					Syntax: 
					<span>Inserts ➔ <code>+Word</code></span>
					<span>Deletions ➔ <code>-Word</code></span>
					<span>Unchanged ➔ <code>=Word</code></span>
					<span>More ➔ <code>"Word Word"</code></span>
				</p>
			</div>
		</form>
		<div id="main-container">
			<div id="main" role="main">
				{{{content}}}
			</div>
		</div>
		{{> footer}}
	</body>
</html>