<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12 info_box">
				<h4>About Us</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<br />
				LobbyPlag.eu is a cooperation between<br /> <br />
				<a href="http://www.opendatacity.de/">OpenDataCity</a> Datenfreunde UG (haftungsbeschränkt)<br />

				Oranienstraße 19a <br />

				10999 Berlin, Deutschland <br />

				<a href="mailto:info@opendatacity.de">info@opendatacity.de</a><br />  <br />

				and<br />  <br />

				<a href="http://europe-v-facebook.org">europe-v-facebook.org</a><br />

				ZVR 351391770<br />

				Wien, Österreich<br />

				<a href="mailto:info@europe-v-facebook.org">info@europe-v-facebook.org</a><br />

				<h4>Privacy:</h4>

				LobbyPlag.eu does not process any personal data of its visitors. <br />

				<br />

			</div>
		</div>
		<div class="row">
			<div class="span12 info_box">
				<h4>Impressum</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<br />
				LobbyPlag.eu ist ein Projekt von<br /> <br />

				<a href="http://www.opendatacity.de/">OpenDataCity</a> Datenfreunde UG (haftungsbeschränkt)<br />

				Oranienstraße 19a<br />

				10999 Berlin, Deutschland<br />

				<a href="mailto:info@opendatacity.de">info@opendatacity.de</a><br />  <br />

				und <br />   <br />

				Verein „<a href="http://europe-v-facebook.org">europe-v-facebook.org</a>“ <br />

				ZVR 351391770   <br />

				Wien, Österreich  <br />

				<a href="mailto:info@europe-v-facebook.org">info@europe-v-facebook.org</a><br />


				<h4>Datenschutz:</h4>
				LobbyPlag.eu verarbeitet keine personenbezogenen Daten seiner Nutzer.<br />
				<br />


			</div>
		</div>
	</div>
</div>