<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12 info_box">
				<h4>About Us</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12 walloftext">
				<br/>
				LobbyPlag.eu is a cooperation between<br/> <br/>
			</div>
		</div>
		<div class="row">
			<div class="span5 walloftext">
				<a href="http://www.opendatacity.de/">OpenDataCity</a> Datenfreunde UG (haftungsbeschränkt)<br/>
				Oranienstraße 19a <br/>
				10999 Berlin, Deutschland <br/>
				<a href="mailto:info@opendatacity.de">info@opendatacity.de</a>
			</div>
			<div class="span2 walloftext">and</div>
			<div class="span5 walloftext">
				<a href="http://europe-v-facebook.org">europe-v-facebook.org</a><br/>
				ZVR 351391770<br/>
				Wien, Österreich<br/>
				<a href="mailto:info@europe-v-facebook.org">info@europe-v-facebook.org</a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span5 walloftext">
				<b>Privacy:</b><br/>
				LobbyPlag.eu does not process any personal data of its visitors.
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span12 info_box">
				<h4>Impressum</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12 walloftext">
				<br/>
				LobbyPlag.eu ist ein Projekt von<br/> <br/>
			</div>
		</div>
		<div class="row">
			<div class="span5 walloftext">
				<a href="http://www.opendatacity.de/">OpenDataCity</a> Datenfreunde UG (haftungsbeschränkt)<br/>
				Oranienstraße 19a<br/>
				10999 Berlin, Deutschland<br/>
				<a href="mailto:info@opendatacity.de">info@opendatacity.de</a>
			</div>
			<div class="span2 walloftext">und</div>
			<div class="span5 walloftext">
				Verein „<a href="http://europe-v-facebook.org">europe-v-facebook.org</a>“ <br/>
				ZVR 351391770 <br/>
				Wien, Österreich <br/>
				<a href="mailto:info@europe-v-facebook.org">info@europe-v-facebook.org</a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span12 walloftext">
				<b>Datenschutz:</b><br/>
				LobbyPlag.eu verarbeitet keine personenbezogenen Daten seiner Nutzer.
			</div>
		</div>
	</div>
</div>