<div class="overview_text">
	Amendments: {{total}}<br/>
	<span class="legend text_stronger">...stronger: {{pro}}</span><br/>
	<span class="legend text_weaker">...weaker: {{contra}}</span><br/>
	<span class="legend text_neutral">...neutral: {{neutral}}</span><br/>
</div>
