<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12 info_box">
				<h4>Articles</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Here you can see an overview over the EU proposal for a new data privacy regulation.
					You can scroll through the articles of the proposal to find out,
					for which parts of the law there have been amendments for more or less data privacy and which political groups have submitted them.
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="articles table">
					{{#articles}}
						<tr>
							<td class="articles_col1"><a href="/map/article/{{nr}}">{{directive}}</a></td>
							<td class="articles_col2">{{topic}}</td>
							<td class="articles_col3">{{#overview}}
								<div class="mep_bar_bar pull-right">
									<div class="lobbyplag bar" data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'>
									</div>
								</div>
							{{/overview}}
							</td>
						</tr>
					{{/articles}}
				</table>
			</div>
		</div>
	</div>
</div>
