<nav id="subnav_map" class="navbar navbar-inverse">
	<ul class="nav">
		<li><a href="/map/countries">All</a></li>
		<li class="space"> </li>
		{{#countries}}
			<li{{#active}} class="active" {{/active}}><a href="/map/countries/{{id}}">{{id}}</a></li>{{/countries}}
	</ul>
</nav>
<div id="main-container">
	<div id="main" role="main">
		{{#country}}
			<div class="row">
				<div class="span12 overview_box">
					<h4>Overview {{name}}</h4>
					<section class="graphic_box"></section>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<section class="info">
						Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
						Erklärbärtext
						Kurzer
						Erklärbärtext Kurzer
						Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
						Erklärbärtext
						Kurzer
						Erklärbärtext Kurzer Erklärbärtext
						Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					</section>
				</div>
			</div>
			<div class="row">
				<div class="span6 overview_box">
					<h4>FLOP 10 - {{name}}</h4>
					<div class="flop_box">{{#flops}}{{>mep_line}}{{/flops}}</div>
				</div>
				<div class="span6 overview_box">
					<h4>TOP 10 - {{name}}</h4>
					<div class="top_box">{{#tops}}{{>mep_line}}{{/tops}}</div>
				</div>
			</div>
		{{/country}}
	</div>
</div>


