<nav id="subnav_map" class="navbar navbar-inverse">
	<ul class="nav">
		{{#groups}}
			<li{{#active}} class="active" {{/active}}><a href="/map/groups/{{id}}"> {{short}} </a></li>{{/groups}}
	</ul>
</nav>
<nav id="subnav_map_small" class="navbar navbar-inverse">
	<ul class="nav">
		<li{{^country}} class="active" {{/country}}><a href="/map/groups/{{id}}">All</a></li>
		<li class="space"></li>
		{{#countries}}
			<li{{#active}} class="active" {{/active}}><a href="/map/groups/{{group_id}}/{{id}}">{{id}}</a>
			</li>{{/countries}}
	</ul>
</nav>
<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			{{^country}}
				<div class="span6 info_box">
					<h4>{{group.short}} in Europe</h4>

				</div>
			{{/country}}
			<div class="span{{^country}}6{{/country}}{{#country}}12{{/country}} info_box">
				<h4>Overview {{group.short}} in {{^country}}Europe{{/country}}{{#country}}{{name}}{{/country}}
					{{localparties}}</h4>

				<div class="overview_text_box">
					{{#overview}}
						Amendments: {{total}}<br/>
						<span class="legend_strong">...stronger: {{pro}}</span><br/>
						<span class="legend_weak">...weaker: {{contra}}</span><br/>
						<span class="legend_neutral">...neutral: {{neutral}}</span><br/>
					{{/overview}}
					<div class="btn_email">
						<a class="btn btn-primary btn-small" href="#">Send E-Mail to all <span
								class="label label-info label-group"
								title="{{group.long}}">{{group.short}}</span>
							MEPs</a>
					</div>
				</div>
				<div class="overview_chart">
					{{#overview}}
						<div class="lobbyplag pie"
							 data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'>
						<span style="font-size: 10px; line-height: 8px">P:{{pro}} / C: {{contra}}
							/ N: {{neutral}}</span>
						</div>
					{{/overview}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Im EU Parlament sind die nationalen Parteien in Fraktionen zusammengefasst. Nicht alle Fraktionen
					haben Mitglieder aus allen Ländern. So gibt es in vielen Ländern z.B. keine liberale, grüne oder
					linke Partei, da es entweder keine nationalen Parteien gibt, oder diese keine Sitze im
					Europaparlament erhalten haben. Auch gibt es unabhängige Kandidaten die sich einer Fraktion
					angeschlossen haben. Wer keiner Fraktion angehört gilt als „Fraktionslos“ (engl. Abkürzung „NI“) und
					sitzt auf eigene Faust im EU Parlament.
					Die Fraktionen im EU Parlament sind viel bunter als in den Mitgliedstaaten. Die EU-Abgeordneten
					halten sich zwar oft an die „Parteilinie“, oft stimmen sie aber auch gegen die Linie der eigenen
					Fraktion. Obwohl die Fraktionen kein einheitlicher Block sind kann man doch gewisse Tendenzen bei
					den verschiedenen Fraktionen feststellen.
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span6 info_box">
				<h4>Top 10 for less Data Privacy by {{group.short}}</h4>

				<div class="flop_box">{{#flops}}{{>mep_line}}{{/flops}}</div>
			</div>
			<div class="span6 info_box">
				<h4>Top 10 for more Data Privacy by {{group.short}}</h4>

				<div class="top_box">{{#tops}}{{>mep_line}}{{/tops}}</div>
			</div>
		</div>

	</div>
</div>
