<nav id="subnav_map" class="lp-subnav navbar navbar-inverse clearfix">
	<ul class="nav pull-right clearfix">
		{{#groups}}
			<li{{#active}} class="active" {{/active}}><a href="/map/groups/{{id}}" title="{{long}}"> {{short}} </a></li>
		{{/groups}}
	</ul>
</nav>
<nav id="subnav_map_small" class="lp-countries lp-subnav navbar navbar-inverse clearfix">
	<ul class="nav pull-right clearfix">
		<li{{^country}} class="active" {{/country}}>
			<a href="/map/groups/{{group.id}}" title="Show all countries">All</a>
		</li>
		<li class="space"></li>
		{{#countries}}
			<li{{#active}} class="active" {{/active}}>
				<a href="/map/groups/{{group_id}}/{{id}}" title="{{name}}">{{id}}</a>
			</li>
		{{/countries}}
	</ul>
</nav>
<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			{{^country}}
				<div class="span6 info_box">
					<h4>{{group.short}} in Europe</h4>

					<div class="mep_map">
						{{#overview_countries}}{{>countries_map}}{{/overview_countries}}
					</div>
				</div>
				<div class="span6 info_box">
					<h4>Overview {{group.short}} in Europe {{localparties}}</h4>

					<div class="overview overview_height_large">
						<div class="overview_text_box">
							{{#overview}}
								<div class="overview_text">
									Amendments: {{total}}<br/>
									<span class="legend_strong">...stronger: {{pro}}</span><br/>
									<span class="legend_weak">...weaker: {{contra}}</span><br/>
									<span class="legend_neutral">...neutral: {{neutral}}</span><br/>
								</div>
							{{/overview}}
						</div>
						<div class="overview_chart">
							<div class="bigpie">
								{{#overview}}{{>pie}}{{/overview}}
							</div>
						</div>
						<div class="btn_email">
							<a class="btn btn-primary btn-small" lobbyplag-data="{{maildata}}" href="#" onclick="sendEmails(this)">Send E-Mail to <span title="{{group.long}}">{{group.short}}</span>
								MEPs</a>
						</div>
					</div>
				</div>
			{{/country}}
			{{#country}}
				<div class="span12 info_box">
					<h4>Overview {{group.short}} in {{name}}
						{{localparties}}</h4>

					<div class="overview overview_height_small">
						<div class="overview_text_box">
							{{#overview}}
								<div class="overview_text">
									Amendments: {{total}}<br/>
									<span class="legend_strong">...stronger: {{pro}}</span><br/>
									<span class="legend_weak">...weaker: {{contra}}</span><br/>
									<span class="legend_neutral">...neutral: {{neutral}}</span><br/>
								</div>
							{{/overview}}
						</div>
						<div class="overview_chart">
							<div class="bigpie">
								{{#overview}}{{>pie}}{{/overview}}
							</div>
						</div>
						<div class="btn_email_right">
							<a class="btn btn-primary btn-small" lobbyplag-data="{{maildata}}" href="#" onclick="sendEmails(this)">Send E-Mail to all <span title="{{group.long}}">{{group.short}}</span>
								MEPs in {{name}} </a>
						</div>
					</div>
				</div>
			{{/country}}
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					<!-- FIXME
					Im EU Parlament sind die nationalen Parteien in Fraktionen zusammengefasst. Nicht alle Fraktionen
					haben Mitglieder aus allen Ländern. So gibt es in vielen Ländern z.B. keine liberale, grüne oder
					linke Partei, da es entweder keine nationalen Parteien gibt, oder diese keine Sitze im
					Europaparlament erhalten haben. Auch gibt es unabhängige Kandidaten die sich einer Fraktion
					angeschlossen haben. Wer keiner Fraktion angehört gilt als „Fraktionslos“ (engl. Abkürzung „NI“) und
					sitzt auf eigene Faust im EU Parlament.
					Die Fraktionen im EU Parlament sind viel bunter als in den Mitgliedstaaten. Die EU-Abgeordneten
					halten sich zwar oft an die „Parteilinie“, oft stimmen sie aber auch gegen die Linie der eigenen
					Fraktion. Obwohl die Fraktionen kein einheitlicher Block sind kann man doch gewisse Tendenzen bei
					den verschiedenen Fraktionen feststellen.
					-->
				</section>
			</div>
		</div>
		<div class="row">
			{{#flops.length}}
				<div class="span6 {{^tops.length}}spanpadding3 {{/tops.length}}info_box border_weaker">
					<h4 class="background_weaker info_box_head">Top {{flops.length}} for less Data Privacy
						by {{group.short}}</h4>

					<div class="flop_box">{{#flops}}{{>mep_line}}{{/flops}}</div>
				</div>
			{{/flops.length}}
			{{#tops.length}}
				<div class="span6 {{^flops.length}}spanpadding3 {{/flops.length}}info_box border_stronger">
					<h4 class="background_stronger info_box_head">Top {{tops.length}} for more Data Privacy
						by {{group.short}}</h4>

					<div class="top_box">{{#tops}}{{>mep_line}}{{/tops}}</div>
				</div>
			{{/tops.length}}
		</div>

	</div>
</div>
