{{#menu}}
	<nav id="subnav_map" class="lp-subnav navbar navbar-inverse clearfix">
		<ul class="nav pull-right clearfix">
			{{#groups}}
				<li{{#active}} class="active" {{/active}}><a href="/map/groups/{{id}}" title="{{long}}"> {{short}} </a></li>
			{{/groups}}
		</ul>
	</nav>
	<nav id="subnav_map_small" class="lp-countries lp-subnav navbar navbar-inverse clearfix">
		<ul class="nav pull-right clearfix">
			<li{{^country}} class="active" {{/country}}>
				<a href="/map/groups/{{group.id}}" title="Show all countries">All</a>
			</li>
			<li class="space"></li>
			{{#countries}}
				<li{{#active}} class="active" {{/active}}>
					<a href="/map/groups/{{group_id}}/{{id}}" title="{{name}}">{{id}}</a>
				</li>
			{{/countries}}
		</ul>
	</nav>
{{/menu}}
<div id="main-container">
	<div id="main" role="main">
		{{^countrygroup}}{{#group}}
			<div class="row">
				<div class="span6 info_box">
					<h4>{{short}} in Europe</h4>

					<div class="mep_map">
						{{#overview_countries}}{{>partial_map}}{{/overview_countries}}
					</div>
				</div>
				<div class="span6 info_box">
					<h4>Overview {{short}} in Europe</h4>

					<div class="overview overview_height_large">
						<div class="overview_text_box">
							{{#overview}}{{>partial_amend_overview_text}}{{/overview}}
						</div>
						<div class="overview_chart">
							<div class="bigpie">
								{{#overview}}{{>partial_pie}}{{/overview}}
							</div>
						</div>
						<div class="btn_email">
							<a class="btn btn-primary btn-small" lobbyplag-data="{{maildata}}" href="#" onclick="sendEmails(this)">Send an email to the MEPs of <span title="{{long}}">{{short}}</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<section class="info">
						Here you can see what the members of the {{short}} group have proposed. Choose a country to see what the MEPs of the {{short}} group for a certain country have proposed.
						You can also choose another political group, or send an email to all members of the {{short}} group.
					</section>
				</div>
			</div>
			<div class="row">
				{{#flops.length}}
					<div class="span6 {{^tops.length}}spanpadding3 {{/tops.length}}info_box border_weaker">
						<h4 class="background_weaker info_box_head">Top {{flops.length}} for less Data Privacy by {{short}}</h4>

						<div class="flop_box">{{#flops}}{{>partial_mep_line}}{{/flops}}</div>
					</div>
				{{/flops.length}}
				{{#tops.length}}
					<div class="span6 {{^flops.length}}spanpadding3 {{/flops.length}}info_box border_stronger">
						<h4 class="background_stronger info_box_head">Top {{tops.length}} for more Data Privacy by {{short}}</h4>

						<div class="top_box">{{#tops}}{{>partial_mep_line}}{{/tops}}</div>
					</div>
				{{/tops.length}}
			</div>

		{{/group}}{{/countrygroup}}
		{{#countrygroup}}
			<div class="row">
				<div class="span6 info_box">
					<div class="overview_bar_box">
						<h4>Overview Groups in {{country.thename}}</h4>

						<div class="mep_bars">
							{{#countrygroup}}{{#local_overviews}}{{>partial_group_bar_local}}{{/local_overviews}}{{/countrygroup}}
						</div>
					</div>
				</div>

				<div class="span6 info_box">
					<h4>Overview {{group.short}} in {{country.thename}}{{#localparties}} ({{localparties}}){{/localparties}}</h4>

					<div class="overview overview_height_large">
						<div class="overview_text_box">
							{{#overview}}{{>partial_amend_overview_text}}{{/overview}}
						</div>
						<div class="overview_chart">
							<div class="bigpie">
								{{#overview}}{{>partial_pie}}{{/overview}}
							</div>
						</div>
						<div class="btn_email">
							<a class="btn btn-primary btn-small" lobbyplag-data="{{maildata}}" href="#" onclick="sendEmails(this)">Send an email to the MEPs of <span title="{{group.long}}">{{group.short}}</span> in {{country.thename}}</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<section class="info">
						Here you can see what the members of the {{group.short}} group from {{country.thename}} have proposed.
						You can click on each MEP to see more about their proposals, or you can send them an email by clicking on the email button.
					</section>
				</div>
			</div>
			<div class="row">
				{{#flops.length}}
					<div class="span6 {{^tops.length}}spanpadding3 {{/tops.length}}info_box border_weaker">
						<h4 class="background_weaker info_box_head">Top {{flops.length}} for less Data Privacy
							by {{group.short}}</h4>

						<div class="flop_box">{{#flops}}{{>partial_mep_line}}{{/flops}}</div>
					</div>
				{{/flops.length}}
				{{#tops.length}}
					<div class="span6 {{^flops.length}}spanpadding3 {{/flops.length}}info_box border_stronger">
						<h4 class="background_stronger info_box_head">Top {{tops.length}} for more Data Privacy
							by {{group.short}}</h4>

						<div class="top_box">{{#tops}}{{>partial_mep_line}}{{/tops}}</div>
					</div>
				{{/tops.length}}
			</div>
		{{/countrygroup}}

	</div>
</div>
