<div class="mep_bar">
	<div class="mep_bar_name">{{group.short}}</div>
	<div class="mep_bar_bar">
		<div class="lobbyplag bar" data-lobbyplag='{{&overview}}'>
			<span style="font-size: 10px; line-height: 8px">{{overview}}</span>
		</div>
	</div>
	<div class="mep_bar_btn"><a href="/map/groups/{{group.id}}" class="btn btn-small">More</a></div>
</div>