<!DOCTYPE html>
<html lang="en">
<head>
	<title>LobbyPlag ➔ Amendments</title>
	<meta charset="utf-8"/>
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
	<meta property="og:title" content="LobbyPlag: Amendments">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://browse.lobbyplag.eu/">
	<meta property="og:image" content="http://www.lobbyplag.eu/assets/img/lobbyplag-comparison.jpg">
	<link rel="shortcut icon" href="/assets/img/favicon.ico?v=1"/>
	<link href="/assets/fonts/gentium-basic/gentium-book-basic.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-code-pro/source-code-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-sans-pro/source-sans-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/map.css" rel="stylesheet" type="text/css">
	<!-- pour la general purpose -->
	<script src="/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/assets/js/jquery.history.min.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- pour la graph -->
	<script src="/assets/js/chart/raphael.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.raphael.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.pie.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.bar.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery.jvectormap-1.2.2.min.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery-jvectormap-europe-merc-en.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery.lpchart.js" type="text/javascript"></script>
	<!-- pour us -->
	<script src="/assets/js/map.js" type="text/javascript"></script>
</head>
<body>
	{{> header}}
<nav id="subnav" class="navbar navbar-inverse clearfix">
	<ul class="nav pull-right clearfix">
		<li{{#active_overview}} class="active"{{/active_overview}}><a href="/map" title="Overview">Overview</a></li>
		<li{{#active_countries}} class="active"{{/active_countries}}><a href="/map/countries" title="View By Countries">Countries</a></li>
		<li{{#active_groups}} class="active"{{/active_groups}}><a href="/map/groups" title="View By Groups &amp; Parties">Groups</a></li>
		<li{{#active_meps}} class="active"{{/active_meps}}><a href="/map/meps" title="View By Members of European Parliament (MEP)">MEPs</a></li>
		<li{{#active_articles}} class="active"{{/active_articles}}><a href="/map/articles" title="View By Articles">Articles</a></li>
		<li{{#active_methods}} class="active"{{/active_methods}}><a href="/map/methods" class="subnav_smalltext" title="Methods">Methods</a></li>
		<li{{#active_press}} class="active"{{/active_press}}><a href="/map/press" class="subnav_smalltext" title="Press Informations">Press</a></li>
		<li{{#active_about}} class="active"{{/active_about}}><a href="/map/about" class="subnav_smalltext" title="About LobbyPlag">About</a></li>
	</ul>
</nav>
	{{> main}}
	{{> footer}}

<div id="mailToolModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalMailToolLabel"
	 aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalMailToolLabel">Send E-Mails to MEPs</span> <button data-dismiss="modal" class="btn pull-right" ><i class="icon-remove"></i></button></h3>
	</div>
	<div id="mailtool_body" class="modal-body">
		<iframe id="mailtool" src=""></iframe>
	</div>
</div>

</body>

</html>
