<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12">
				<section class="info">
					<!-- FIXME
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
					Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer
					Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer Erklärbärtext
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					-->
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<iframe></iframe>
			</div>
		</div>
	</div>
</div>
