<div class="mep_line">
	<div class="mep_image"><img src="{{urls.photo}}" /></div>
	<div class="mep_info">
		<span class="spanmep_name f16">
			{{name}}<br/>
			<img title="{{country_obj.name}}" alt="{{country_obj.name}}" src="/assets/img/flags/20x15/{{country_obj.iso}}.png" />
			<span class="label label-info label-group-{{group_obj.id}}"
				  title="{{group_obj.long}} - {{constituency_obj.long}}">{{group_obj.short}}</span>
		</span>
	</div>
	<div class="mep_more">
		<a href="/map/meps?id={{id}}" class="btn btn-small">More</a>
	</div>
	<div class="mep_chart">
		{{#votes}}{{>pie}}{{/votes}}
	</div>
</div>
