<div id="main-container">
	<div id="main" role="main" class="walloftext">
		<h4>How can amendments be judged in a neutral and objective way?</h4>
		<p>When we started our analysis of more than 3.100 amendments the question occured how to measure countless political decisions in one statistic. There is not a single proper method – so we had to develop one that is as transparent and clear as possible.</p>
		<p>We agreed to evaluate every single amendment by it’s own: Does the change lead to stronger or weaker protection of privacy? Most of the changes can be categorized quite easily. If the consequences of an amendment are unclear or if the amendment does not change the level of protection we
			have marked it as “neutral”. The calculation of the overall impact of an MEP follows a simple formula: If a MEP suggests 45 changes which strengthen privacy and 30 changes that weaken the protection his final balance score will be 15. </p>
		<p>Of course this approach also has some weaknesses (see below).</p>
		<br/>
		<h4>Our rating criteria:</h4>
		<p>To be absolutely transparent we want to be open about our rules and explain them. Everybody should be able to rate the collected amendments by him- or herself.</p>
		<br/>
		<ul>
		<li>Basis of our collection are 3.113 amendments of the LIBE committee on the EU Data Protection Regulation. Not included (for now) are changes to chapter 5. to 7. concerning international data traffic and administration - which are less relevant than the other chapters.</li>
		<li>We reviewed every single amendment, regardless of which its length and influence. It would not be possible to objectively measure the amount political influence of every amendment.</li>
		<li>The author of every amendment is taken from the official documents. If amendments are co-signed by multiple MEP it will be attributed to every MEP.</li>
		<li>Our judgement is based on an general assessment if the amendment will cause the privacy rights of an average user to be strengthened or weakened. </li>
		<li>Scale is the legal situation of an average citizen compared to the draft by the European commission from january 2012.</li>
		<li>The following changes were therefore graded as privacy-weakening amendments:
		<ul>
			<li>Limitations of rules for companies.</li>
			<li>Exceptions from rule for companies.</li>
			<li>New allowances for additional data processing.</li>
			<li>Higher thresholds for duties to apply.</li>
			<li>Ambiguous wording or alternative concepts which are inherently unclear or vague.</li>
			<li>Exemptions from duties for companies, if they have consequences for the rights of data subjects.</li>
			<li>Easier data exchange with non-EU countries.</li>
		</ul></li>
		<li>The following changes were therefore graded as privacy-enhancing amendments:
		<ul>
			<li>Extension of the rules to cover a greater number of people.</li>
			<li>Deletion of exceptions for companies.</li>
			<li>Deletion of legitimate reasons for data processing.</li>
			<li>Lower threshold for duties of companies.</li>
			<li>Clear wording and alternative concepts with more rights for users.</li>
			<li>Introduction of new rules, duties or procedures for companies, if they have consequences for the rights of data subjects.</li>
			<li>Limitation of data exchange with non-EU countries.</li>
		</ul>   </li>
		<li>Amendments that could not be clearly identified as having impact on privacy were marked as “neutral”.</li>
		</ul>
		<br/>
		<h4>Evaluation Procedure</h4>
		<ul>
		<li>The person evaluating amendments was unable to see the MEP that has proposed the amendments. </li>
		<li>Only if an amendment could not be evaluated on its own, it was allowed to look&nbsp;at the justification and other amendments by the same MEP to enable the reviewer to grade the amendment.</li>
		<li>Amendments relating to delegated acts by the commission were generally regarded as “neutral”, because they do not weaken or strengthen privacy rights per se. </li>
		<li>Evaluations by different reviewers were compared, if contradictory evaluations were found, a second round was taken in order to reach a consensus. </li>
		</ul>
		<br/>
		<h4>Comparison with documents from Privacy NGOs:</h4>
		<p>The results from LobbyPlag were again matched with documents from different privacy NGOs. Different results were reexamined another time and checked, but always graded in line with our own set of rules as mentioned above.</p>
		<br/>
		<h4>Weaknesses of our method:</h4>
		<p>Of course there are some weaknesses in our method that we want to be frank about:</p>
		<ul>
			<li>There is no unit in which one can measure more of less privacy. We have therefore counted the number of amendments. This means that a small change is counted the same way as a major amendment. The only alternative would have been an rating of how much every amendment changes the right
				to privacy, which cannot be done objectively. But especially when MEPs have submitted many amendments this problem should be evened out.</li>
			<li>Not every limitation of the right to privacy is bad, not every additional right is good. As an example: If the trade unions get the right to agree on processing of data with employers, we think that this is a good idea. But this also means that there is another ground on which data can
				be processed. Therefore these amendments were marked as weakening the right to privacy according to the principles explained above.</li>
			<li>With more than 3.100 amendments there can always be some mistakes. One can click the wrong button or there might be some misunderstanding. After reviewing our results we are sure that there are no more than 2-3% of all amendments that might be marked wrong. If someone finds a
				mistake he can always report it by clicking on the „report“ button on every amendments. In addition everyone can discuss every amendment on our page. We hope that this allows us to steadily improve our data and get results for even more amendments.</li>
		</ul>
		<br/>
	</div>
</div>