<div id="main-container">
	<div id="main" role="main">
		<div id="subnav_placeholder"></div>
		<div class="row">
			<div class="span6 info_box">
				<h4>Overview Countries</h4>

				<div class="mep_map">
					<div class="lobbyplag map" data-lobbyplag='{{&overview_countries}}'>
						<span style="font-size: 10px; line-height: 8px">{{overview_countries}}</span>
					</div>
				</div>
			</div>
			<div class="span6 info_box">
				<h4>Overview Parties</h4>

				<div class="mep_bars">
					{{#group_overview}}
						<div class="mep_bar">
							<div class="mep_bar_name">{{group.short}}</div>
							<div class="mep_bar_bar">
								<div class="lobbyplag bar" data-lobbyplag='{{&overview}}'>
									<span style="font-size: 10px; line-height: 8px">{{overview}}</span>
								</div>
							</div>
							<div class="mep_bar_btn"><a href="/map/groups/{{group.id}}" class="btn btn-small">More</a></div>
						</div>
					{{/group_overview}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
					Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer
					Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer Erklärbärtext
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span6 info_box border_weaker">
				<h4 class="background_weaker info_box_head">Top 10 for less Data Privacy in Europe</h4>

				<div class="flop_box">{{#flops}}{{>mep_line}}{{/flops}}</div>
			</div>
			<div class="span6 info_box border_stronger">
				<h4 class="background_stronger info_box_head">Top 10 for more Data Privacy in Europe</h4>

				<div class="top_box">{{#tops}}{{>mep_line}}{{/tops}}</div>
			</div>
		</div>
	</div>
</div>
