<div class="mep_bar">
	<div class="mep_bar_name" title="{{group.long}}">{{group.short}}</div>
	<div class="mep_bar_bar">
		<div class="lobbyplag bar"{{#overview}} data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}' {{/overview}}>
		</div>
	</div>
	<div class="mep_bar_btn"><a href="/map/groups/{{group.id}}" class="btn btn-small">More</a></div>
</div>