<nav id="subnav_map" class="navbar navbar-inverse">
	<ul class="nav">
		{{#parties}}
			<li{{#active}} class="active" {{/active}}><a href="/map/parties/{{id}}"> {{short}} </a></li>{{/parties}}
	</ul>
</nav>
<nav id="subnav_map_small" class="navbar navbar-inverse">
	<ul class="nav">
		<li{{^country}} class="active" {{/country}}><a href="/map/parties/{{id}}">All</a></li>
		<li class="space"></li>
		{{#countries}}
			<li{{#active}} class="active" {{/active}}><a href="/map/parties/{{party_id}}/{{id}}">{{id}}</a>
			</li>{{/countries}}
	</ul>
</nav>
<div id="main-container">
<div id="main" role="main">
<div class="row">
<div class="span12 overview_box">
<h4>Übersicht {{party.short}} in {{^country}}Europe{{/country}}{{#country}}{{name}} [LOCALPARTYNAME]{{/country}}</h4>
	<section class="graphic_box"></section>
</div>
</div>
	<div class="row">
		<div class="span12">
			<section class="info">
				Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
				Erklärbärtext
				Kurzer
				Erklärbärtext Kurzer
				Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
				Kurzer
				Erklärbärtext Kurzer Erklärbärtext
				Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
			</section>
		</div>
	</div>
	<div class="row">
		<div class="span6 overview_box">
			<h4>FLOP 10 - {{party.short}}</h4>
			<section class="graphic_box"></section>
		</div>
		<div class="span6 overview_box">
			<h4>TOP 10 - {{party.short}}</h4>
			<section class="graphic_box"></section>
		</div>
	</div>

</div>
</div>
