<div class="mep_line">
	<div class="mep_image"><a href="/map/meps/{{id}}"><img src="{{#urls}}{{&photo}}{{/urls}}" /></a></div>
	<div class="mep_info">
		<span class="spanmep_name">
			<a class="mep_name_link" href="/map/meps/{{id}}">{{name}}</a> <br/>
			<a href="/map/countries/{{country_obj.id}}"><img title="{{country_obj.name}}" alt="{{country_obj.name}}" src="/assets/img/flags/20x15/{{country_obj.iso}}.png" /></a>
			<a href="/map/groups/{{group_obj.id}}"><span class="label label-info label-group-{{group_obj.id}}" title="{{group_obj.long}} - {{constituency_obj.long}}">{{group_obj.short}}</span></a>
		</span>
	</div>
	<div class="mep_more">
		<a href="/map/meps/{{id}}" class="btn btn-small">More</a>
	</div>
	<div class="mep_chart smallpie">
		{{#votes}}{{>partial_pie}}{{/votes}}
	</div>
</div>
