<nav id="subnav_map" class="navbar navbar-inverse">
	<ul class="nav">
		<li{{#active_party_epp}} class="active"{{/active_party_epp}}><a href="/map/parties/epp">EPP</a></li>
		<li{{#active_party}} class="active"{{/active_party}}><a href="/map/parties/...">...</a></li>
	</ul>
</nav>
{{#active_party_country}}
	<nav id="subnav_map_small" class="navbar navbar-inverse">
		<ul class="nav">
			<li{{#active_country_de}} class="active"{{/active_country_de}}><a href="/map/parties/de">DE</a></li>
			<li{{#active_country}} class="active"{{/active_country}}><a href="/map/countries/...">...</a></li>
		</ul>
	</nav>
{{/active_party_country}}
<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span6 overview_box">
				<h4>[PARTY] in den Mitgliedstaaten</h4>
				<section class="graphic_box"></section>
			</div>
			<div class="span6 overview_box">
				<h4>[PARTY] Übersicht</h4>
				<section class="graphic_box"></section>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
					Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer
					Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer Erklärbärtext
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span6 overview_box">
				<h4>FLOP 10 - [PARTY]</h4>
				<section class="graphic_box"></section>
			</div>
			<div class="span6 overview_box">
				<h4>TOP 10 - [PARTY]</h4>
				<section class="graphic_box"></section>
			</div>
		</div>

	</div>
</div>
