<div class="lobbyplag pie"
	 data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'>
						<span style="font-size: 10px; line-height: 8px">P:{{pro}} / C: {{contra}}
							/ N: {{neutral}}</span>
</div>