<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12">
				<section class="info">
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
					Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer
					Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer Erklärbärtext
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12 overview_box">
				<h4>Themen</h4>
				<section class="topics"></section>
			</div>
		</div>
	</div>
</div>
