<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12">
				<section class="info">
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer
					Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer
					Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
					Kurzer
					Erklärbärtext Kurzer Erklärbärtext
					Kurzer Erklärbärtext Kurzer Erklärbärtext Kurzer Erklärbärtext
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12 info_box">
				<h4>Topics</h4>
			</div>
			<div class="span12">
				<div class="accordion topics" id="accordion_topics">
					{{#topics}}
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_topics"
								   href="#collapse{{number}}">{{directive}}
									{{#overview}}
									<div class="mep_bar_bar pull-right">
										<div class="lobbyplag bar" data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'>
											<span style="font-size: 10px; line-height: 8px">{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}</span>
										</div>
									</div>
									{{/overview}}
								</a>
							</div>
							<div id="collapse{{number}}" class="accordion-body collapse">
								<div class="accordion-inner topic">
									<div class="mep_bars">
										{{#group_overview}}{{>group_bars}}{{/group_overview}}
									</div>
									<div>
										<h4>European Parliament</h4>
										<div class="overview_chart">
											{{#overview}}{{>pie}}{{/overview}}
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/topics}}
				</div>
			</div>
		</div>
	</div>
</div>
